.row
  .logo.col-md-5= image_tag 'logo.png'
  .col-md-7.text-center{ :style => "top: 50px; display: inline-block;" }
    #btn_inicio.nav_button.col-md-6= image_tag 'inicio.png'
    #btn_mecanica.nav_button.col-md-6= image_tag 'mecanica.png'
.row
  #iconos.row
    .img_change.col-md-10.col-md-offset-2.text-center= image_tag 'iconos.png'
  #lista.row
    .img_change.col-md-10.col-md-offset-2.text-center= image_tag 'lista.png'
  .row
    .img_barra.col-md-10.col-md-offset-2.text-center= image_tag 'zona_etb_barra.png'