!!!
%html{:lang => "es"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Zona ETB Móviles
    = csrf_meta_tags

    / Assets Styles
    = stylesheet_link_tag 'application'

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    = render 'layouts/messages'
    #terms
      = image_tag 'cuadro_terminos.png'
    #content
      #left_container.col-md-6.col-sm-12
        = yield
      #right_container.col-md-6.col-sm-12
        = render 'user/new'
    #footer
      #rock_logo= image_tag 'logo_rock_parque.png'
      #etb_logo= image_tag 'logo_etb.png'
      #terminos
        #term1= image_tag 'terminos.png'
        #term2= image_tag 'terminos2.png'
        #redes
          = image_tag 'facebook.png'
          = image_tag 'twitter.png'
    / jQuery
    = javascript_include_tag 'application'
